<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}

  <body>
    <m-universal-header></m-universal-header>
    <m-website-header name="Design System"></m-website-header>

    <main class="viewport-container">
      <div class="page">
        <nav aria-label="breadcrumb" class="breadcrumbs">
          <ol>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="" aria-current="page">{{ title }}</a>
            </li>
          </ol>
        </nav>

        <h1 class="page-heading">{{ title }}</h1>

        <div class="page-content prose">
          {{ layoutContent | safe }}
        </div>

        <nav aria-labelled-by="neighbors-heading" class="aside-nav">
          <h2 class="page-sub-sub-heading" id="neighbors-heading">Pages</h2>

          {% set navPages = collections.all | eleventyNavigation %}
          {% macro renderNavListItem(entry) -%}
            <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              {%- if entry.children.length -%}
                <ul>
                  {%- for child in entry.children %}{{ renderNavListItem(child) }}
                  {% endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endmacro %}

          <ol>
            {%- for entry in navPages %}{{ renderNavListItem(entry) }}
            {%- endfor -%}
          </ol>
        </nav>
      </div>
    </main>
  </body>
</html>