---
layout: layouts/base.njk
section: home
---

<main class="viewport-container">
  <div role="presentation" class="prose">
    <h1>Hello, you.</h1>
    <p>During development of this website before we have a homepage design this landing page will render a basic sitemap.</p>

    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

    <h2>Contribute</h2>

    <p>To contribute you will need write access to <a href="http://github.com/mlibrary/design-system.lib.umich.edu">github.com/mlibrary/design-system.lib.umich.edu</a> to use the Document Editor and make content changes to this website.</p>

    <p>
      <a href="/admin" class="button">Continue to Document Editor</a>
    </p>
  </div>
</main>