---
layout: layouts/base.njk
section: home
---

<main class="viewport-container">
  <div role="presentation" class="prose">
    <h1>Hello, you.</h1>

    {{ collections.all | eleventyNavigation("Hello") | eleventyNavigationToHtml | safe }}
  </div>
</main>